.screen__container {
  width: 90%;
  margin: 0 auto;
}
.MuiTextarea-root {
  background-color: transparent !important;
  color: #0a0a0a !important;
}
/* Modal  */
.zoom-enter .content {
  opacity: 0;
  transform: scale(0.5);
}

.Toastify__toast-container {
  z-index: 1;
}
/* loading  */
.lds-dual-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 6px solid #08772d;
  border-color: #08772d transparent #08772d transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.quill {
  height: 500px;
  margin-bottom: 60px;
  width: 100%;
}
.ql-editor img {
  max-width: 100%;
  height: auto;
}

.ql-editor img {
  margin: 12px 0px;
  width: 500px;
  height: 250px;
  margin: auto;
  border-radius: 12px;
}

.zoom-enter-active .content {
  opacity: 1;
  transform: scale(1);
}
.zoom-exit .content {
  opacity: 1;
}
.zoom-exit-active .content {
  opacity: 0;
  transform: scale(0.5);
}

/* style banner  */
.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: calc(100vh - 70px); */
  margin-top: 80px;
}

.slide {
  width: 100%;
  height: 100%;
  transition: opacity 1s ease-in-out;
  overflow: hidden;
}

.slide-hidden {
  position: absolute;
  opacity: 0;
}

.arrow {
  position: absolute;
  filter: drop-shadow(0px 0px 5px #555);
  width: 5rem;
  height: 2.5rem;
  color: white;
  transition: all 0.25s linear;
}
.arrow:hover {
  cursor: pointer;
  color: rgb(196, 196, 196);
}
.arrow-left {
  left: 1rem;
  z-index: 2;
}
.arrow-right {
  right: 1rem;
  z-index: 2;
}
.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
}
.indicator {
  background-color: white;
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 100%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px #555;
  margin: 0 0.2rem;
  cursor: pointer;
}

.indicator-inactive {
  background-color: grey;
}

.Categories {
  display: inline-block;
  border-radius: 12px;
  color: gray;
  width: 100%;
}
.css-13cymwt-control {
  border: none !important;
  border: 1px solid #2e7d32 !important;
  height: 50px;
  cursor: pointer !important;
}

.css-13cymwt-control.error {
  border: 1px solid #0a0a0a !important;
}
.css-t3ipsp-control {
  border: 1px solid #2e7d32 !important;
  box-shadow: none !important;
  cursor: pointer !important;
  height: 50px;
}
.css-1dimb5e-singleValue {
  padding: 6px;
}
.css-1nmdiq5-menu {
  z-index: 9999 !important;
  cursor: pointer;
}

/* style news */

.swiper {
  height: 500px !important;
  z-index: 1 !important;
}

.swiper-button-prev,
.swiper-button-next {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000 !important;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.swiper-button-prev {
  left: 1px !important;
  z-index: 999999 !important;
}

.swiper-button-next {
  right: 30px !important;
  z-index: 999999 !important;
}
/* Hover effect */
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: grey;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "" !important;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  border-top: 3px solid black;
  border-right: 3px solid black;
}

.swiper-button-prev::after {
  transform: translate(-30%, -50%) rotate(-135deg);
}
.swiper-button-next::after {
  transform: translate(-60%, -50%) rotate(45deg);
}

/* Thiết lập kiểu dáng cho pagination */
.swiper-pagination {
  margin-top: 24px;
}

.swiper-pagination {
  position: absolute !important;
  bottom: 0px !important;
  width: 100%;
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #c22727 !important;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.swiper-pagination-bullet:hover {
  background-color: #555;
}

.swiper-pagination-bullet-active {
  background-color: #333;
}

.slideImgProduct {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 700px;
}

.img__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: -5rem;
}
.img__slide-product {
  width: 60px;
  height: 60px;
  overflow: hidden;
}
.active__img {
  scale: 1.2;
}

/*todo: ===========  size product details =============  */
.size__label {
  background-color: transparent;
}
.size__group input[type="radio"]:checked + .size__label {
  background-color: #056c05;
  color: #fff;
}
.color__group input[type="radio"]:checked + .checked__color-product {
  opacity: 1;
  transition: all 0.25s;
}

.select_group input[type="radio"]:checked + .select_label {
  background-color: #056c05;
  color: #fff;
}

/* info product details  */

.info-product-details h1,
.info-product-details h1 > strong {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.info-product-details h2,
strong {
  font-size: 20px;
  font-weight: bold;
  margin: 8px 0px;
}
.info-product-details p {
  font-size: 17px;
  line-height: 2;
  text-align: justify;
}
.info-product-details p:not(:has(strong)) {
  color: gray;
  margin-left: 50px;
}
.info-product-details img {
  width: 100%;
  margin: auto;
  margin-top: 12px;
  border-radius: 8px;
  /* border: 1px solid gray; */
  height: 500px;
}
@media screen and (min-width: 360px) {
  .info-product-details p:not(:has(strong)) {
    color: gray;
    margin-left: 0px;
  }
}
@media screen and (min-width: 1080px) {
  .info-product-details p:not(:has(strong)) {
    color: gray;
    margin-left: 50px;
  }
}


/*todo: ===========  cart =============  */
::-webkit-scrollbar {
  width: 2px;
}
.cart__list::-webkit-scrollbar {
  width: 2px;
}

.cart__list::-webkit-scrollbar-thumb {
  background-color: #c5c5c5;
  border-radius: 10px;
  height: 10px;
}

/*todo: ===========  inform order success =============  */
.inform_order p {
  padding: 8px 0px;
}
.inform_order .title {
  color: #179e17;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 24px;
}
.inform_order .orderMy {
  color: #48cab2;
  font-size: 20px;
  font-weight: bold;
}
.inform_order .logo {
  color: #48cab2;
  font-size: 20px;
  font-weight: bold;
}
.btn_group {
  margin: 24px 0px;
}

.btn_group .btn {
  color: white;
  padding: 12px;
  border-radius: 6px;
  margin-top: 12px;
}
.btn_group {
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
}
.btn_buy {
  background-color: rgb(0, 154, 0);
  transition: all 0.25s linear;

  font-weight: bold;
}
.btn_buy:hover {
  background-color: rgb(1, 105, 1);
}

.btn_details {
  background-color: #b95a00;
  transition: all 0.25s linear;
  font-weight: bold;
}

.btn_details:hover {
  background-color: #8f4500;
}

/*todo: ===========  style cart=============  */

.Mui-TableHeadCell-Content {
  justify-content: center !important;
}

.MuiTableCell-root {
  justify-content: center !important;
}

/*todo: ===========  style news details=============  */
.news__details h2 {
  font-size: 22px;
  color: #0a0a0a;
  font-weight: bold;
  padding: 8px 0px;
}
.news__details p {
  font-size: 18px;
  color: #434343;
  line-height: 2;
  text-align: justify;
  text-indent: 40px;
}

.news__details img {
  width: 90%;
  height: 500px;
  object-fit: cover;
  margin: auto;
  padding: 24px 0px;
}

/*todo: ===========  style chat box=============  */

.chat-box-container {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

.chat-box-container.open {
  width: auto;
  height: auto;
}

.chat-box {
  position: absolute;
  bottom: 0;
  right: 0;
  transform-origin: bottom right;
  transform: scale(0);
  transition: transform 0.1s ease-in-out;
}

.chat-box-container.open .chat-box {
  transform: scale(1);
}



.policy{
  text-indent: 50px;
  color: #333;
  line-height: 1.8;
}